html {
	font-size: 62.5%;
	/*10 ÷ 16 × 100% = 62.5%*/

}
body {
	font-size: 1.5rem;
	/*1.5 × 10px = 15px */
	margin: 0;
	font-family: 微软雅黑
}

h1 { 
	font-size: 2.2rem;
	/*2.2 × 10px = 22px*/
}

a {
	color: #607fa6;
	text-decoration:none;
}

footer{
	background: #fff;
	clear: both;
	padding: 2rem 2rem !important;
	font-size: 1.2rem;
	text-align: center;
	border-top: solid 0.1rem;
	border-color: #000;
}



.zhuti {
	width: 100%;
}

@media(max-width: 768px){
	.zhuti{
		margin-top: 0rem;
	}
}

/*左半部分*/
.leftpart {
	width: 38.2%;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	float:left;
	background-image: url(bigpic.jpg);
	background-size: cover;
	top: 0;
	left: 0;
	bottom: 0;
	position: fixed;
}



@media(max-width: 768px){
	.leftpart {
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing:border-box; /* Firefox */
		-webkit-box-sizing:border-box; /* Safari */
		position: relative;
		background-repeat: no-repeat;
		background-position: center center;
		height: 700px;
  }
}

.mymane{
	position: absolute;
	bottom: 10rem;
	left: 3rem;
	font-size: 3rem;
}

.language{
	position: absolute;
	bottom: 7rem;
	left: 3rem;
	font-size: 1.5rem;
	border-bottom: 0.2rem solid ;
	border-color: blue;
}

.down{
	display: none;
}

@media(max-width: 768px){
	.down{
		display: block;
		position: absolute;
		bottom: 1rem;
		text-align: center;
		width: 100%;
		animation: down 3s infinite;
		-webkit-animation: down 3s infinite;
	}
}

@keyframes down {
      from {
        bottom: 1rem;
      }
      to {

        bottom: 0;
      }
    }

    @-webkit-keyframes down {
      from {
        bottom: 1rem;
      }
      to {
        bottom: 0;
      }
    }

/*右半部分*/
.rightpart {
	width: 61.8%;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
  float: right;
}

@media(max-width: 768px){
	.rightpart{
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing:border-box; /* Firefox */
		-webkit-box-sizing:border-box; /* Safari */
  }
}

menu{
	margin: 0;
	padding: 0;
	height: 5rem;
	position: fixed;
	top: 0;
	right: 0;
	width: 61.8%;
	z-index: 999;
	/*菜单栏设为透明*/
	background: rgba(255,255,255,0);
	
}
@media(max-width: 768px){
	menu{
		width:100%;
	}
}

menu ul{
	margin: 0;
	padding: 0;
}

.menu-close{
	font-size: 4.5rem;
	line-height: 5rem;
	height: 5rem;
	width: 100%;
	background: #fff;
	text-align: right;
}

.menu-button{
	font-size: 2.5rem;
	float: right;
	display: block;
	width:6rem;
	height:4rem;
	line-height:4rem;
	color:#555555;
	text-align:center;
	background:rgba(255,255,255,0.5);
	-moz-border-radius: 1rem;
	-webkit-border-radius: 1rem;
	border-radius:1rem;
	border: solid 0.1rem;
	margin-top: 1rem;
	margin-right: 1rem;
}

.option{
	padding: 0;
}

.option li {
	font-size: 2rem;
	line-height: 8rem;
	height: 8rem;
	border-bottom: 1px solid #f2f2f2;
	/*去掉li的小圆点*/
	list-style: none;
	margin: 0 1rem;
}

.jieshao{
	margin-top: 4rem;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	letter-spacing: 0.1rem;
}

@media(max-width: 768px){
	.jieshao{
		margin-top: 0
	}
}

.logo{
	text-align: center;
	height: 18rem;
	background-image: url(justologo.png);
	background-repeat: no-repeat;
	background-position: center;
}

.self-introduction {
	font-size: 1.8rem;
	font-weight: bold;
	color: #4d4d4d;
	margin: 0 2rem;
}




.menu_list {
	width: 38.2%;
	height: 100%;
	background:rgba(48,52,53,.9);
	position: fixed;
	z-index: 9999;
	-webkit-transition: all .5s;
    transition: all 0.5s;
    display: none;
}

@media(max-width: 768px){
	.menu_list{
		width: 61.8%
	}
}

.menu_show {
	bottom: 0;
	right: 0;
	animation: more_list 0.5s;
	-webkit-animation: more_list 0.5s;
}
@keyframes more_list {
      from {
        right: -900px;
        bottom: 0px;
      }
      to {
        right: 0;
        bottom: 0;
      }
    }

    @-webkit-keyframes more_list {
      from {
        right: -900px;
        bottom: 0px;
      }
      to {
        right:0;
        bottom: 0;
      }
    }



.article {
  float: left;
  width: 90%;
  border-bottom: 1px solid #f2f2f2;
  padding: 5rem 5%;
}

@media screen and (max-width: 768px) {
.article {
    text-align: left;
    padding: 3rem 5%;
  }
}
.article img {
	float: right;
	width: 30%;
	margin-bottom: 30px;
	-webkit-border-radius: .3rem;
	-moz-border-radius: .3rem;
	-ms-border-radius: .3rem;
	border-radius: .3rem;
}
@media screen and (max-width: 768px) {
.article img {
    float: none;
    width: 100%;
  }
}
.article div {
	width: 61.8%;
	float: left;
	margin-top: 0px;
}

@media screen and (max-width: 768px){
	.article div {
		width: 100%;
	}
}


.article-date {
  color: #b3b3b3;
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
  font-weight: 100;
}

.wenzhang{
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

.more-article{
	text-align: center;
	height: 10rem;
	
}

.more-article-button{
	background: yellow;
	width: 38.2%;
	height: 5rem;
	margin: 0 30.9%;
	border-radius: 1rem;
	line-height: 5rem;
}



.connect{
	background: #aaaaaa;
	height: 8rem;

	text-align: center;
	letter-spacing: 0.1rem;
}

.connect a {
	text-decoration:none;
	color: #fff
}

.connect-note{
	line-height: 3rem;
}

.connect-icon {
   width: 3rem;
   height: 3rem;

   fill: currentColor;
   overflow: hidden;
   margin: .5rem 1rem;
}
