html {
	font-size: 62.5%;
	/*10 ÷ 16 × 100% = 62.5%*/
}

body {
	font-size: 1.5rem;
	/*1.5 × 10px = 15px */
	margin: 0;
	font-family: 微软雅黑;
	letter-spacing: 0.1rem;
}

h1 { 
	font-size: 2.2rem;
}

h2 {
	font-size: 1.8rem;
}

a {
	color: #607fa6;
	text-decoration:none; /*去除a标签下划线*/
}

/*版权部分*/
footer{
	background: #fcfcfc;
	clear: both;
	padding: 2rem 2rem !important;
	font-size: 1.2rem;
	text-align: center;
	border-top: solid 0.1rem;
	border-color: #f1f1f1;
	color: #aaaaaa;
}

/*主体部分*/
.zhuti {
	width: 100%;
}

/*手机版*/
@media(max-width: 768px){
	.zhuti{
		margin-top: 0rem;
	}
}

/*左半部分*/
.leftpart {
	/*PC版*/
	width: 38.2%;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	float:left;
	background-image: url(bigpic.jpg);
	background-size: cover;
	background-position: top center;
	top: 0;
	left: 0;
	bottom: 0;
	position: fixed;
}

@media(max-width: 768px){
	.leftpart {
		width: 100%;
		position: relative;
		background-repeat: no-repeat;
		height: 73rem;/*iPhone6 plus*/
  }
}

@media(max-width: 768px) and (max-height: 667px){
	.leftpart{
		height: 67rem;/*iPhone6*/
	}
}

@media(max-width: 768px) and (max-height: 568px){
	.leftpart{
		height: 57rem;/*iPhone5*/
	}
}

.mymane{
	position: absolute;
	top: 43rem;
	left: 3.5rem;
	font-weight: normal;
	color: #4d4d4d;
}

@media(max-width: 768px) and (max-height: 568px){
	.mymane{
		top: 40rem;/*iPhone5*/
	}
}

.language{
	position: absolute;
	top: 48rem;
	left: 3.5rem;
	font-size: 1.5rem;
	line-height: 2.5rem;
	border-bottom: 0.2rem solid ;
	border-color: #4d4d4d;
	color: #4d4d4d;
}

@media(max-width: 768px) and (max-height: 568px){
	.language{
		top: 45rem;/*iPhone5*/
	}
}

.language:hover{
	border-color: #878ECD;
	color: #878ECD;
	transition: 0.3s;
	-moz-transition:0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
}

.push{
	display: none;
}

@media(max-width: 768px){
	.push{
		width: 4rem;
		height: 4rem;
		display: block;
		position: absolute;
		top: 52rem;
		text-align: center;
		width: 100%;
		animation: push 1.5s infinite;
		-webkit-animation: push 1.5s infinite;
	}
}

@media(max-width: 768px) and (max-height: 568px){
	.push{
		top: 49rem;
	}
}

@keyframes push {
      from {
        top: 52rem;
      }
      to {

        top: 51rem;
      }
    }

    @-webkit-keyframes push {
      from {
        top: 52rem;
      }
      to {
        top: 51rem;
      }
    }

@media(max-width: 768px) and (max-height: 568px){
	@keyframes push {
      from {
        top: 49rem;
      }
      to {

        top: 48rem;
      }
    }s

    @-webkit-keyframes push {
      from {
        top: 49rem;
      }
      to {
        top: 48rem;
      }
    }
}

/*右半部分*/
.rightpart {
	width: 61.8%;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	float: right;
}

@media(max-width: 768px){
	.rightpart{
		width: 100%;
  }
}

menu{
	margin: 0;
	padding: 0;
	height: 5rem;
	position: fixed;
	top: 0;
	right: 0;
	width: 61.8%;
	z-index: 999;
	/*菜单栏设为透明*/
	background: rgba(255,255,255,0);
	
}
@media(max-width: 768px){
	menu{
		width:100%;
	}
}

menu ul{
	margin: 0;
	padding: 0;
}

.menu-close{
	font-size: 4.8rem;
	line-height: 5rem;
	height: 5rem;
	width: 100%;
	background: rgba(255,255,255,.95);
	text-align: right;
	border-bottom: solid .2rem;
	border-color: #4d4d4d;
}

.menu-close a {
	color: #4d4d4d;
}

.menu-close a:hover{
	color: rgba(135,142,205,.85);
	transition: 0.3s;
	-moz-transition:0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
}

.menu-button{
	font-size: 2.5rem;
	float: right;
	display: block;
	width:6rem;
	height:4rem;
	line-height:4rem;
	color:#4d4d4d;
	text-align:center;
	background:rgba(255,255,255,.7);
	border-radius:.8rem;
	-moz-border-radius: .8rem;
	-webkit-border-radius: .8rem;
	border: solid 0.2rem;
	margin-top: 1rem;
	margin-right: 1rem;
}

.menu-button:hover{
	background:rgba(255,255,255,.7);
	color:#878ECD;
	transition: 0.3s;
	-moz-transition:0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
}

.option{
	padding: 0;
}


.option li {
	font-size: 1.8rem;
	line-height: 6rem;
	height: 6rem;
	border-bottom: 1px solid #4d4d4d;
	list-style: none;/*去掉li的小圆点*/
	margin: 0 1rem;
	color: #4d4d4d;
}

.option a:hover li{
	color: #878ECD;
	transition: 0.3s;
	-moz-transition:0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
}

.menu-list {
	width: 38.2%;
	height: 100%;
	background: #fff;
	position: fixed;
	z-index: 9999;
	-webkit-transition: all .5s;
    transition: all 0.5s;
    display: none;
}

@media(max-width: 768px){
	.menu-list{
		width: 61.8%
	}
}

.white-shade {
	width: 100%;
	height: 100%;
	background:rgba(255,255,255,.8);
	position: fixed;
	z-index: 9998;
    display: none;
}

.menu-show {
	bottom: 0;
	right: 0;
	animation: more-list 0.5s;
	-webkit-animation: more-list 0.5s;
}
@keyframes more-list {
      from {
        right: -900px;
        bottom: 0px;
      }
      to {
        right: 0;
        bottom: 0;
      }
    }

    @-webkit-keyframes more-list {
      from {
        right: -900px;
        bottom: 0px;
      }
      to {
        right:0;
        bottom: 0;
      }
    }

/*个人介绍部分*/
.jieshao{
	margin-top: 4rem;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

@media(max-width: 768px){
	.jieshao{
		margin-top: 0
	}
}

.logo{
	text-align: center;
	height: 15rem;
	background-image: url(justologo.png);
	background-repeat: no-repeat;
	background-position: center;
}

.self-introduction {
	font-size: 1.8rem;
	font-weight: bold;
	color: #4d4d4d;
	margin: 0 5%;
}

.location{
	width: 1.8rem;
	height: 1.8rem;
}


/*文章部分*/
.article-1{
	border-top: 0.1rem solid #f2f2f2;
}

.article {
  float: left;
  width: 90%;
  border-bottom: 0.1px solid #f2f2f2;
  padding: 5rem 5%;
}

@media screen and (max-width: 768px) {
.article {
    text-align: left;
    padding: 3rem 5%;
  }
}

.article img {
	float: right;
	width: 30%;
	margin-bottom: 30px;
	-webkit-border-radius: .3rem;
	-moz-border-radius: .3rem;
	-ms-border-radius: .3rem;
	border-radius: .3rem;
}

@media screen and (max-width: 768px) {
.article img {
    float: none;
    width: 100%;
  }
}
.article div {
	width: 61.8%;
	float: left;
	margin-top: 0;
}

@media screen and (max-width: 768px){
	.article div {
		width: 100%;
	}
}

.article h2:hover{
	color: #878ECD;
	transition: 0.3s;
	-moz-transition:0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
}

.article p {
	font-size: 1.3rem;
}

.article a {
	color: #4d4d4d;
}

/*文章日期*/
.article-date {
  color: #b3b3b3;
  margin-bottom: 1rem;
  display: block;
  /*英文版中添加，定义仅有大写字母 text-transform: uppercase;*/
  font-weight: 100;
}


.ellipsis{
	text-align: center;
	margin-bottom: 3rem;
}

.more-article{
	text-align: center;
	height: 10rem;
}

.more-article-button{
	background: #fff;
	width: 38.2%;
	height: 5rem;
	margin: 0 30.9%;
	border-radius: .8rem;
	line-height: 5rem;
	color: #B9BBDF;
	border:solid 0.2rem;
	letter-spacing: 0.1rem;
}

.more-article-button:hover{
	background: #B9BBDF;
	color: #fff;
	border:solid 0.2rem #B9BBDF;
	box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
	transition: 0.3s;
	-moz-transition:0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
}

.connect{
	background: #fff;
	height: 8rem;
	text-align: center;
}

.connect a {
	text-decoration:none;
	color: #aaaaaa;
}

.connect-note{
	line-height: 3rem;
	color: #aaaaaa;
}

.connect-icon {
	width: 3rem;
	height: 3rem;
	fill: currentColor;
	overflow: hidden;
	margin: .5rem 1rem;
}

.connect-icon:hover{
	color: #878ECD;
	transition: 0.3s;
	-moz-transition:0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	animation: up .5s;
	-webkit-animation: up .5s;
	/*停在最后一帧*/
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	position: relative;
}

@keyframes up {
      from {
        bottom: 0;
      }
      to {

        bottom: .8rem;
      }
    }

    @-webkit-keyframes up {
      from {
        bottom: 0;
      }
      to {
        bottom: .8rem;
      }
    }

.qr{
	display:none;
	background:#fff;
	position:fixed;
	bottom:13.5rem;
	width: 15rem;
	height: 19rem;
	right:27%;
	border-radius: .5rem;
	-moz-border-radius: .5rem;
	-webkit-border-radius: .5rem;
	border: solid 0.2rem #878ECD;
	color: #000
}

@media screen and (max-width: 768px){
	.qr{
		right:35%;
	}
}

.qr img {
	position: relative;
	padding:.6rem .6rem .6rem;
	width: 13.8rem;
}

.qr-note{
	font-size: 1.2rem;
	line-height: 1.8rem;
	text-align: center;
}

.mailbox{
	display:none;
	background:#fff;
	position:fixed;
	bottom:13.5rem;
	width: 12rem;
	height: 4rem;
	right:23%;
	border-radius: .5rem;
	-moz-border-radius: .5rem;
	-webkit-border-radius: .5rem;
	border: solid 0.2rem #878ECD;
}

@media screen and (max-width: 768px){
	.mailbox{
		right:25%;
	}
}

.mail-note{
	font-size: 1.2rem;
	line-height: 4rem;
	text-align: center;
}

/*滚动条*/
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: #DDE7F2;
	border-radius: 4px;
}

/*选中状态*/
::selection {
	background: #B9BBDF;
	color: #fff;
}